<!--<header>-->
<!--  <h1>Users collection from FireBase</h1>-->

<!--  <div class="auth">-->
<!--    <img src="{{(fireAuth.user | async)?.photoURL}}" alt="avatar">-->
<!--    <button *ngIf="fireAuth.user | async; else login" type="button" (click)="logout()">Log Out</button>-->
<!--  </div>-->
<!--</header>-->

<!--{{currentUser | json}}-->

<!--<section class="registration">-->
<!--  <form (ngSubmit)="register(email.value, pass.value, name.value, pict.value)">-->
<!--    <label>Email: <input type="text" #email></label>-->
<!--    <label>Password: <input type="password" #pass></label>-->
<!--    <label>Name: <input type="text" #name></label>-->
<!--    <label>Link to avatar: <input type="text" #pict></label>-->
<!--    <button>Register Me!</button>-->
<!--  </form>-->
<!--</section>-->



<!--<ng-template #login>-->
<!--  <button type="button" (click)="loginWithGoogle()">Login with google</button>-->
<!--</ng-template>-->
